/* #contacttext {
    color: rgb(23, 65, 65);
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
} */
/* 
#contacttitle {
    color: #f0ece3;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
} */
/* 
.intorSeg {
    background-image: url('../Assets/Images/monet-giverny-fr2.jpg');
} */

/* .jumbotron {
    background-color: transparent;
} */


