#aboutme {
    margin: 15px;
    font-family: 'Della Respira', serif;
    font-size: 75px;
    text-shadow: 2px 2px 4px grey;
    color:#444;
}

.skills {
    margin: 20px;
    font-family: 'Della Respira', serif;
    font-size: 50px;
    text-shadow: 2px 2px 4px grey;
    color: #444;
    font-weight: 800;
}

#blockquote {
    color: #444;
    font-weight: bolder;
    font-size: 32px;
}

#blockquote-footer {
    font-weight: bolder;
    font-size: 100%;
}


#blocktext{
    color: #444;
    font-weight: bolder;
    font-size: 18px;
    font-family: sans-serif;
}

.homecontact {
    color: #444;
    font-weight: bolder;
}

#links {
    color: #444;
    font-weight: bolder;
}

.mepix {
    border-style: inset;
    border-width: 10px;
}

.smallpix {
    border-radius: 50%;
    border-style: groove;
}

.logos {
    image-rendering: auto;
    background-color: transparent;
    /* height: 80px; */
    width: auto;
    image-rendering: auto;
    /* border-radius: 10px; */
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 5px;
    margin: 3px;
}

