nav.navbar.navbar-default {
    margin-bottom: 0;
 
  }

 .footer {
  background-color: #6c647a;
     }

  .navbar.brand {
    color: white;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: larger;
  }

  

