nav.navbar.navbar-default {
    margin-bottom: 0;
 
  }

 .footer {
  background-color: #c0422e;
  text-decoration-color: #c0422e;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: larger;
     }

  /* .navbar.brand2 {
    color: #c0422e;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: larger;
  } */

  

